<div class="column__title">

  <div class="editing" *ngIf="isEditing">

    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput autofocus [(ngModel)]="editedTitle" required [minLength]="3" name="title">
    </mat-form-field>

    <div class="actions">

      <mat-icon (click)="saveEdit()" matTooltip="Save" *ngIf="column.title || editedTitle?.length > 2">check</mat-icon>

      <mat-icon (click)="closeEdit()" matTooltip="Close">close</mat-icon>

      <mat-icon (click)="deleteColumn()" matTooltip="Delete">delete</mat-icon>

    </div>

  </div>

  <ng-container *ngIf="!isEditing">

    <span>{{column.title}}</span>

    <button mat-icon-button [matMenuTriggerFor]="menu" class="float-right">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="toggleEditColumn()">
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="deleteColumn()">
        <span>Delete</span>
      </button>
    </mat-menu>

  </ng-container>

</div>

<div class="column__tasks" cdkDropList>

  <div class="task" *ngFor="let task of column.tasks; let i = index" cdkDrag cdkDragLockAxis="y" (cdkDragDropped)="drop($event, column)">

    <div class="cdk-placeholder" *cdkDragPlaceholder></div>

    <app-task-item [task]="task" (onDelete)="deleteTask($event, i)" (taskChanged)="onTaskChanged($event, i)"></app-task-item>

  </div>

  <div class="task new-task" (click)="addNewTask(column)" >
    <mat-icon>add</mat-icon>
    <span>Add new task</span>
  </div>

</div>
