.column__title {
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.new-task {
  display: flex;
  align-items: center;
  padding: 5px 7px;
  cursor: pointer;
  margin: 5px 0;
  box-shadow: none;

  span {
    padding-left: 5px;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.editing {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 0;

  .mat-form-field {
    width: 100%;
  }

  .actions {
    margin-left: auto;
    margin-right: 5px;
  }
}

.float-right {
  margin-left: auto;
  margin-right: 5px;
}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.column__tasks.cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 30px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

