.board-detail {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
}

.columns {
  overflow: auto;
  white-space: nowrap;
  height: 100%;
}

.column {
  width: 15%;
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid lightgray;
  background-color: #ebecf0;
  border-radius: 3px;
  display: inline-flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
}

.new-column {
  border: 1px solid lightgray;
  display: inline-block;
  transition: all .3s;
  padding: 5px 10px;
  cursor: pointer;

  &__title {
    text-transform: uppercase;
    color: lightgray;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

