<div class="board-detail">

  <div class="columns">

    <div class="column" *ngFor="let col of board?.columns; let colIndex = index">

      <app-column-item [column]="col" (onDeleteColumn)="deleteColumn($event, colIndex)" (columnChanged)="saveChanges(col, colIndex)" [board]="board"></app-column-item>

    </div>

    <div class="column new-column" (click)="addNewColumn()">Add new column</div>

  </div>

</div>
