<div class="task-item">

  <div class="editing" *ngIf="isEditing">

    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput autofocus [(ngModel)]="editedTitle" required [minLength]="3" name="editedTitle">
    </mat-form-field>

    <div class="actions">

      <mat-icon class="float-right" (click)="saveEdit()" matTooltip="Save" *ngIf="task.title || editedTitle?.length > 2">check</mat-icon>

      <mat-icon class="float-right" (click)="closeEdit()" matTooltip="Close">close</mat-icon>

      <mat-icon class="float-right" (click)="deleteTask()" matTooltip="Delete">delete</mat-icon>


    </div>

  </div>

  <ng-container *ngIf="!isEditing">

    <span>{{task.title}}</span>

    <mat-icon class="float-right edit-btn" (click)="editTask()">edit</mat-icon>

  </ng-container>

</div>
