.task-item {
  display: flex;
  align-items: center;
  padding: 5px 7px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin: 5px 0;

  &:hover {
    .edit-btn {
      opacity: 1;
    }
  }
}

.float-right {
  margin-left: auto;
  margin-right: 5px;
}

.edit-btn {
  transition: all .3s;
  color: darkgray;
  opacity: 0;
}

.editing {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 0;

  .mat-form-field {
    width: 100%;
  }

  .actions {
    margin-left: auto;
    margin-right: 5px;
  }
}
