.boards-list {
  width: 60%;
  margin: 0 auto;
  padding: 10px 0;

  .board-item {
    width: 24%;
    height: 100px;
    cursor: pointer;
    margin: 5px 0;

    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  }
}

.new-item {
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;

  &__title {
    text-transform: uppercase;
    color: lightgray;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);

    .new-item__title {
      color: white;
    }
  }
}

.accordion {
  width: 100%;
}

:host ::ng-deep .mat-expansion-panel-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
