<div class="boards-list">

  <mat-accordion class="accordion" multi>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Favorites
        </mat-panel-title>
      </mat-expansion-panel-header>

    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          General
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="board-item" *ngFor="let board of boards; let i = index">

        <app-board-item [board]="board" (onDeleteBoard)="deleteBoard($event, i)" (onBoardClick)="onBoardClick($event)"></app-board-item>

      </div>

      <div class="board-item new-item" (click)="addNewBoard($event)">
      <span class="new-item__title">
        Add new board
      </span>
      </div>

    </mat-expansion-panel>
  </mat-accordion>

  <button mat-button (click)="mockData()">Mock data</button>

</div>
