.board {
  width: 100%;
  height: 100%;
  position: relative;

  &__inner {
    padding: 10px;
  }

  &__title {
    color: white;
    font-size: 12px;
    letter-spacing: 1.05px;
  }
}

.menu-btn {
  position: absolute;
  top: 2px;
  right: 2px;
  color: white;
  z-index: 1;
}
