<div class="board" [style.background]="board?.backgroundColor" (click)="onClick($event)">
  <div class="board__inner">
    <div class="board__title">{{board?.title}}</div>

    <button mat-icon-button class="menu-btn" [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="deleteBoard($event)">
        <span>Delete</span>
      </button>
    </mat-menu>

  </div>
</div>
