.main {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(120, 186, 208, 0.4);
}

.float-right {
  margin-left: auto;
}

.toolbar {
  height: 60px;
}

.content {
  height: calc(100% - 60px);
}
