<div class="main">

  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button aria-label="Menu" *ngIf="goBack && goBack !== ''" (click)="goNavBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{currentRouteTitle}}</span>
    <button mat-icon-button class="float-right" aria-label="Log out" matTooltip="Log Out" (click)="logout()">
      <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar>

  <div class="content">

    <router-outlet></router-outlet>

  </div>

</div>
