<h1 mat-dialog-title>New board</h1>

<div mat-dialog-content>
  <form #boardForm="ngForm">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput autofocus [(ngModel)]="data.board.title" (ngModelChange)="checkFormValidity()" required [minLength]="3" name="title">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Color</mat-label>
      <input matInput autocomplete="false"
             [(ngModel)]="data.board.backgroundColor"
             [(colorPicker)]="data.board.backgroundColor" (colorPickerChange)="colorChanged()"
             (ngModelChange)="colorChanged()"
             [style.background]="data.board.backgroundColor" required name="color">
    </mat-form-field>
  </form>

  <div class="error" *ngIf="errorMsg && errorMsg.length > 0">
    {{errorMsg}}
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="close($event)">Close</button>

  <button mat-button color="primary" (click)="save($event)" [disabled]="boardForm.invalid || !formIsValid">Save</button>
</div>
