<div class="login">

  <div class="card">

    <img src="/assets/img/logo.png" class="card__logo" alt="">

    <form class="card__form">

      <mat-form-field class="form-field">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" name="username" [(ngModel)]="loginForm.username">
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" placeholder="Password" [(ngModel)]="loginForm.password">
      </mat-form-field>

    </form>

    <div class="card__actions">
      <button mat-raised-button color="primary" (click)="onSubmit($event)">Submit</button>
    </div>

  </div>

</div>
