.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: lightblue;
}

.card {
  width: 300px;
  padding: 50px 30px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__logo {
    width: 100%;
  }

  &__form {
    width: 100%;
    padding-top: 50px;

    .form-field {
      width: 100%;
    }
  }

  &__actions {
    padding-top: 30px;
  }
}
